[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pandas = "*"
mlflow = "*"
pyyaml = "*"
imbalanced-learn = "*"
jupyterlab = "*"
jupytext = "*"
pandas-profiling = "*"
ipywidgets = "*"
python-dotenv = "*"
pygit2 = "*"
dvc = { extras = ["s3"], version = "*" }
numpy = "*"
google-cloud-bigquery = { extras = ["pandas"], version = "*" }
paramiko = "*"
requests = "*"

[dev-packages]

[requires]
python_full_version = "3.8"
